.infoContainer {
  display: flex;
}

.aboutMeContainer {
  width: 50%;
  margin-left: 20px;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-right: 0px;
  align-items: center;
}
.favouritesIcon {
  width: 80px;
  > g {
    fill: rgb(196, 196, 196);
  }
  > g {
    cursor: pointer;
  }
}
.favourite {
  > g {
    fill: black;
  }
}
