.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Иконка в карточке */
.card-icon {
    font-size: 4rem;
    color: #2563eb;
    margin-bottom: 1rem;
    margin-top: 16px;
}

.card h3 {
    font-size: 1.2rem;
    color: #1e293b;
    margin-bottom: 0.75rem;
    margin-top: 16px; /* Добавляем отступ сверху */
}

.card p {
    font-size: 1.1rem;
    color: #475569;
    line-height: 1.6;
    text-align: justify; /* Выравнивание текста */
    word-wrap: break-word; /* Разбивка длинных слов */
}