@import url('./assets/fonts/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  background-color: #f8fafc; /* Светлый фон */
  color: #1e293b; /* Основной текст */
  line-height: 1.6;
  height: 100%;
  overflow-y: auto; /* Разрешаем вертикальную прокрутку */
  overflow-x: hidden; /* Запрещаем горизонтальную прокрутку */
}

/* Стилизация полосы прокрутки */
body::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
  background-color: #f1f5f9; /* Фон области скроллбара */
}

body::-webkit-scrollbar-thumb {
  background-color: #1e293b; /* Основной цвет полосы прокрутки */
  border-radius: 4px; /* Скругление для красоты */
  transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* Цвет полосы при наведении */
}

body::-webkit-scrollbar-track {
  background-color: #e2e8f0; /* Фон трека (дорожки) */
}

/* Для Firefox (минималистичный вариант) */
body {
  scrollbar-width: thin; /* Уменьшаем ширину */
  scrollbar-color: #1e293b #e2e8f0; /* Цвет: ползунок и трек */
}

